.groupbox {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    width: 392px;
}

div {
    display: block;
}